@import "variables";

// Control the angle of the chevron. Make sure to change both angle and tan-angle
$chev-angle: 4deg;
$chev-tan-angle: 0.06992681194;
$chev-half-height: $chev-tan-angle * 25%;
$chev-full-height: 2 * $chev-half-height;


/**
 * Chevron mixin
 */

@mixin chevron-panel($bgColor) {
	background-color: $bgColor;
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 50.1%;
}


@mixin chevron($bgColor, $color) {
	position: relative;
	padding-top: $chev-full-height + $chev-half-height;
	padding-bottom: $chev-full-height;
	margin-top: -1px;
	color: $color;

	&:before {
		@include chevron-panel($bgColor);
		left: 0;
		transform: skew(0deg, $chev-angle);
	}

	&:after {
		@include chevron-panel($bgColor);
		right: 0;
		transform: skew(0deg, -$chev-angle);
	}

	&.chevron-tail, &.chevron-head {
		background-color: $bgColor;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	&.chevron-tail {
		&:before {
			margin-top: -$chev-half-height;
		}

		&:after {
			margin-top: -$chev-half-height;
		}
	}

	&.chevron-head {
		&:before {
			margin-top: $chev-half-height;
		}

		&:after {
			margin-top: $chev-half-height;
		}
	}

	// Display contents above the chevron
	& > * {
		position: relative;
		z-index: 1;
	}
}


/**
 * Coloured classes
 */

.chevron-white {
	@include chevron($panel-white-bg, $panel-white-text);
}

.chevron-black {
	@include chevron($panel-grey-bg, $panel-grey-text);
}

.chevron-red {
	@include chevron($panel-red-bg, $panel-red-text);
}


/**
 * Other classes
 */

.chevron-banner {
	padding-top: $chev-full-height;
	padding-bottom: $chev-half-height;

	p {
		text-align: center;
		padding: 20px;
		font-size: 110%;
	}
}
