$header-height-md: 65px;
$header-height-sm: 50px;

@mixin header-adapt-height {
  @media (max-width: $screen-md-max) {
    height: $header-height-md;
    line-height: $header-height-md - 30px;
  }

  @media (max-width: $screen-sm-max) {
    height: $header-height-sm;
    line-height: $header-height-sm - 30px;
  }
}

.header-wrapper {
  // background-color: #353535;
}

.header {
  .page-title {
    font-family: 'Graduate', arial, sans-serif;
    font-weight: bold;
    color: #E21818;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .page-icon {
    width: 100%;
    height: 100%;
    padding: 8px 0;

    @media (max-width: $screen-sm-max) {
      padding: 3px 0;
    }

    img {
      height: 100%;
      display: block;
      margin: auto;
    }
  }

  .header-item {
    @include header-adapt-height;
  }
}

.nav li a {
  @include header-adapt-height;

  /*font-family: 'Graduate', arial, sans-serif;*/
  padding: {
    top: 15px;
    bottom: 15px;
    left: 0;
    right: 0;
  };
  font-size: 110%;
  color: $swin-red;
  text-transform: capitalize;
  text-align: center;



  &:hover, &:focus {
    background-color: $swin-red;
    color: white;
  }
}
