// Base colours
$swin-red: darkred;
$swin-red-bright: lighten(darkred, 15%);
$swin-grey: #333;
$swin-white: white;

// Colour combinations
$panel-red-bg: $swin-red;
$panel-red-text: $swin-white;
$panel-grey-bg: $swin-grey;
$panel-grey-text: $swin-white;
$panel-white-bg: $swin-white;
$panel-white-text: $swin-grey;
