---
---

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initialscale=1.0" />

  <title>Swinburne Cheerleading</title>


  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendor css -->
  <!-- <link href="vendor.css" rel="stylesheet"> -->

  <!-- Styles -->
  <link href="css/index.css" rel="stylesheet">
  <!-- <link href="index.css.map" rel="stylesheet"> -->
</head>
<body>
  <!-- Header -->
  <div class="chevron-black chevron-head">
    <div class="container header-wrapper">
      <div class="row">
        <header class="header">
          <div class="header-item col-lg-12 col-xs-2">
            <h1 class="visible-lg page-title">Swinburne Cheerleading</h1>
            <div class="hidden-lg page-icon">
              <img src="images/sut-icon.png" alt="Swinburne cheerleading">
            </div>
          </div>

          <nav class="header-item col-lg-12 col-xs-10">
            <ul class="nav row">
              <li class="col-xs-3">
                <a href="#home">Home</a>
              </li>
              <li class="col-xs-3">
                <a href="#what-is-cheer">What is Cheer?</a>
              </li>
              <li class="col-xs-3">
                <a href="#signup">Sign Up!</a>
              </li>
              <li class="col-xs-3">
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </div>
  </div>

  <!-- Carousel -->
  <div class="chevron-shape banner-wrapper">
    <div class="container">
      <div class="row">
        <div class="banner">
          <h1>Welcome to Swinburne Cheerleading!</h1>
          <p>
            <a href="#signup" class="banner-btn">Sign up now</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Triple detail view -->
  <div id="home" class="chevron-white">
    <div class="container triple-detail">
      <div class="row">
        {% for item in site.data.content.home.items %}
          <div class="col-xs-12 col-md-4 detail">
            <div class="icon">
              {% if item.imgName %}
                <img src="images/{{ item.imgName }}">
              {% endif %}
            </div>
            <h2 class="title">
              {{ item.title }}
            </h2>
            <p class="caption">
              {{ item.caption }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- What is cheerleading -->
  <div id="what-is-cheer" class="chevron-red chevron-banner">
    <div class="container chevron-body">
      <div class="row">
        <h2>{{ site.data.content.whatIsCheer.title }}</h2>
        {{ site.data.content.whatIsCheer.description | markdownify }}
      </div>
    </div>
  </div>

  <!-- Photo and details -->
  <div class="chevron-white">
    <div class="container">
      {% for item in site.data.content.whatIsCheer.items %}
          <div class="row image-details">
            <div class="col-xs-12 col-sm-5 image">
              <img src="images/{{ item.imgName }}">
            </div>
            <div class="col-xs-12 col-sm-7 details">
              <h2>{{ item.title }}</h2>
              {{ item.caption | markdownify }}
            </div>
        </div>
      {% endfor %}
    </div>
  </div>


  <!-- Gallery -->
  <!-- <div  id="gallery" class="chevron-red chevron-banner">
    <div class="container chevron-body">
      <div class="row">
        <h2>Gallery</h2>
        <p>
          Find more photos on our insta <a href="https://www.instagram.com/swinburnecheer/">@swinburnecheer</a>!
        </p>
      </div>
    </div>
  </div> -->


  <!-- Sign up now -->
  <div  id="signup" class="chevron-red chevron-banner">
    <div class="container chevron-body">
      <div class="row">
        <h2>Sign up</h2>
        <p>
          Sign up to our mailing list to get more information about joining the team, events that we run and free training sessions!
        </p>
      </div>
    </div>
  </div>

  <div class="chevron-white">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form action="//swinburnecheerleading.us14.list-manage.com/subscribe/post?u=9cfcabddceb9095ccd7fc6b2a&amp;id=8607485a1a" method="post" name="mc-embedded-subscribe-form" class="validate form" target="_blank">
            <div class="row">
              <div class="form-group col-xs-6">
                <label for="mce-FNAME" class="sr-only">First Name</label>
                <input type="text" value="" name="FNAME" class="form-control input-lg" id="mce-FNAME" placeholder="First name" required>
              </div>
              <div class="form-group col-xs-6">
                <label for="mce-LNAME" class="sr-only">Last Name</label>
                <input type="text" value="" name="LNAME" class="form-control input-lg" id="mce-LNAME" placeholder="Last name" required>
              </div>
            </div>

            <div class="form-group">
              <label for="mce-EMAIL" class="sr-only">Email Address</label>
              <input type="email" value="" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="Email" required>
            </div>
            <div class="form-group">
              <strong>Interests</strong>
              <div class="checkbox">
                <label for="mce-group[2925]-2925-0"><input type="checkbox" value="1" name="group[2925][1]" id="mce-group[2925]-2925-0">Cheerleading</label>
              </div>
              <div class="checkbox">
                <label for="mce-group[2925]-2925-1"><input type="checkbox" value="2" name="group[2925][2]" id="mce-group[2925]-2925-1">Hip Hop</label>
              </div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9cfcabddceb9095ccd7fc6b2a_8607485a1a" tabindex="-1" value=""></div>
            <div class="form-group">
              <button type="submit" id="mc-embedded-subscribe" class="btn btn-default">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <footer id="contact" class="chevron-black chevron-tail chevron-banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Contact us</h1>
          <p>
            Have a question? Not sure if you want to join the team yet? Want to organise an event with us? Send us an email or contact us on Facebook and we'll be able to help you out!
          </p>
          <p class="social-media-links">
            {% if site.data.contact.facebook %}
              <a class="facebook" href="https://www.facebook.com/{{ site.data.contact.facebook | uri_escape }}">
                facebook.com/{{ site.data.contact.facebook | escape }}
              </a>
            {% endif %}

            {% if site.data.contact.instagram %}
              <a class="instagram" href="https://www.instagram.com/{{ site.data.contact.instagram | uri_escape }}">
                instagram.com/{{ site.data.contact.instagram | escape }}
              </a>
            {% endif %}

            {% if site.data.contact.email %}
              <a class="email" href="mailto:{{ site.data.contact.email | uri_escape }}">
                {{ site.data.contact.email | escape }}
              </a>
            {% endif %}
          </p>

          <p class="muted">
            Website designed and developed by James Ferguson (<a href="mailto:contact@jamesferguson.info">contact@jamesferguson.info</a>)
          </p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Vendor js -->
  <!-- <script src="vendor.js"></script> -->
</body>
</html>
