.social-media-links {
	text-align: center;

	a, button {
		line-height: 30px;
		margin-left: 10px;
		margin-right: 10px;
	}
}


.muted {
	color: #777;
	text-align: center;
	border-top: 1px solid #555;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0;
}
