/** Image and details **/

.image-details {
  padding-top: 25px;
  padding-bottom: 25px;

  .image img {
    max-width: 100%;
    max-height: 400px;
  }

  .details {
    padding-top: 15px;

    h2 {
      text-align: left;
    }
  }

  &:nth-child(2) {
    .image {
      float: right;
    }

    .details {
      h2, p {
        text-align: right;
      }
    }
  }
}
