/** Image and details **/

.image-details {
  padding-top: 25px;
  padding-bottom: 25px;
}

.image-details .image img {
  max-width: 100%;
  max-height: 400px;
}

.image-details .details {
  padding-top: 15px;
}

.image-details.left .details h2,
.image-details.left .details p {
  text-align: left;
}

.image-details.right .details h2,
.image-details.right .details p {
  text-align: right;
}


p[class|=col] {
  min-height: 150px;
  /*border: 1px solid black;*/
  text-align: center;
  line-height: 50px;
}
