/** Triple detail **/

.triple-detail .detail {
  padding: 30px;
}

.triple-detail .detail .icon {
  overflow: hidden;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  margin: auto;
}

.triple-detail .detail .icon img {
  max-width: 150px;
  max-width: 150px;
}

.triple-detail .detail .title {
  text-align: center;
}

.triple-detail .detail .caption {
  text-align: center;
  font-size: 105%;
}
